.card-item {
  background-color: get-palette(bg-alt);
  border-radius: get-size(border-radius);
  box-shadow: 0 4px 4px rgba(#000, 0.25);
  margin-bottom: 4rem;
  margin-top: 3rem;
  padding: 6rem 2rem 2rem;
  position: relative;

  .icon {
    background-color: get-palette(highlight, 2);
    border: 15px solid get-palette(bg);
    border-radius: 100%;
    height: 160px;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    width: 160px;

    img {
      height: 80px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80px;
    }
  }

  @include mq($until: md) {
    .icon {
      border: 10px solid get-palette(bg);
      height: 100px;
      width: 100px;

      img {
        height: 50px;
        width: 50px;
      }
    }
  }
}
