.check-list {
  list-style: none;
  margin-left: 0;

  > li {
    margin-bottom: 1rem;
    padding-left: 2.5rem;
    position: relative;

    &::before {
      content: url('./../svg/check.svg');
      height: 32px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 32px;
    }
  }
}
